In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.read_csv('../data/test.csv')
df.head()

,Period,Inst_sector,Inst_sector_code,Descriptor,SNA08TRANS,Asset_liability_code,Values
0,2007.03,Non-corporate business enterprises,121,Closing balance total assets,LE00000,A000000,345948
1,2007.03,Non-corporate business enterprises,121,Financial assets Closing balance Total financi...,LE00000,AFA0000,99748
2,2007.03,Non-corporate business enterprises,121,Financial assets Closing balance monetary gold...,LE00000,AFA0100,0
3,2007.03,Non-corporate business enterprises,121,Financial assets Closing balance currency and ...,LE00000,AFA0200,14773
4,2007.03,Non-corporate business enterprises,121,Financial assets Closing balance debt securities,LE00000,AFA0300,1267

In [6]:
df.head(10)

,Period,Inst_sector,Inst_sector_code,Descriptor,SNA08TRANS,Asset_liability_code,Values
0,2007.03,Non-corporate business enterprises,121,Closing balance total assets,LE00000,A000000,345948
1,2007.03,Non-corporate business enterprises,121,Financial assets Closing balance Total financi...,LE00000,AFA0000,99748
2,2007.03,Non-corporate business enterprises,121,Financial assets Closing balance monetary gold...,LE00000,AFA0100,0
3,2007.03,Non-corporate business enterprises,121,Financial assets Closing balance currency and ...,LE00000,AFA0200,14773
4,2007.03,Non-corporate business enterprises,121,Financial assets Closing balance debt securities,LE00000,AFA0300,1267
5,2007.03,Non-corporate business enterprises,121,Financial assets Closing balance loans,LE00000,AFA0400,21229
6,2007.03,Non-corporate business enterprises,121,Financial assets Closing balance equity and in...,LE00000,AFA0500,58868
7,2007.03,Non-corporate business enterprises,121,"Financial assets Closing balance insurance, pe...",LE00000,AFA0600,285
8,2007.03,Non-corporate business enterprises,121,Financial assets Closing balance financial der...,LE00000,AFA0700,0
9,2007.03,Non-corporate business enterprises,121,Financial assets Closing balance other account...,LE00000,AFA0800,3326

In [7]:
df.tail(4)

,Period,Inst_sector,Inst_sector_code,Descriptor,SNA08TRANS,Asset_liability_code,Values
7748,2023.03,Total all sectors,900,Capital Account Closing balances Produced non-...,LE00000,AN10000,1440803
7749,2023.03,Total all sectors,900,Capital Account Closing balances Non-produced ...,LE00000,AN20000,1576577
7750,2023.03,Total all sectors,900,Closing balance net worth,LE00000,B900000,3017380
7751,2023.03,Total all sectors,900,Closing balance total liabilities and net worth,LE00000,L000000,7678630

In [8]:
df.shape()

TypeError: 'tuple' object is not callable

In [9]:
df.shape

(7752, 7)

In [10]:
df.size

54264

In [11]:
len(df)

7752

In [12]:
df.columnsO

AttributeError: 'DataFrame' object has no attribute 'columnsO'

In [13]:
df.column()

AttributeError: 'DataFrame' object has no attribute 'column'

In [14]:
df.columns

Index(['Period', 'Inst_sector', 'Inst_sector_code', 'Descriptor', 'SNA08TRANS',
       'Asset_liability_code', 'Values'],
      dtype='object')

In [15]:
df["Period"]

0       2007.03
1       2007.03
2       2007.03
3       2007.03
4       2007.03
         ...
7747    2023.03
7748    2023.03
7749    2023.03
7750    2023.03
7751    2023.03
Name: Period, Length: 7752, dtype: float64

In [17]:
df[["Values", "Asset_liability_code"]][:6]

   Values Asset_liability_code
0  345948              A000000
1   99748              AFA0000
2       0              AFA0100
3   14773              AFA0200
4    1267              AFA0300
5   21229              AFA0400

In [ ]:
count = df["Period"].value_